@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* @font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  MAIN COLORS TO USE #DDFO2A (YELLOW), #4B622E (GREEN), #242424 (DARK BACKGROUND), #FFFFFF (WHITE), #1A1A1A(BLACK)
  FONT - JOST 
} */

body {
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 100dvw;
  min-height: 100vh;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
